body{

background:#0E1117;

margin:0;

font-family:Arial, Helvetica, sans-serif;

color:#F5F7FA;

}



.container{


height:100vh;


display:flex;


flex-direction:column;


justify-content:center;


align-items:center;


}



.title{


font-size:42px;


font-weight:bold;


letter-spacing:1px;


}



.subtitle{


font-size:18px;


color:#8A96A8;


margin-top:10px;


}



.version{


margin-top:10px;


font-size:14px;


color:#6B7280;


}



.operator{


margin-top:30px;


font-size:16px;


}



.online{


color:#00C853;


}



.line{


width:400px;


height:1px;


background:#00B8D9;


margin:30px;


}



.philosophy{


text-align:center;


line-height:1.8;


font-size:18px;


}



button{


margin-top:30px;


padding:15px 40px;


background:none;


border:2px solid #00B8D9;


color:white;


font-size:16px;


letter-spacing:1px;


cursor:pointer;


}



button:hover{


background:#00B8D9;


}



.dashboard-title{


font-size:18px;


color:#AAB4C3;


margin-top:20px;


}



.health{


font-size:42px;


font-weight:bold;


margin-top:10px;


}



#dashboard{


display:none;


}